name: Functional Tests

on:
  workflow_call:
    inputs:
      tests-target:
        description: "Tests target to run"
        type: string
        default: "just functional"
      daemon-dir:
        description: "Daemon directory"
        type: string
        default: "."
      daemon-repository:
        description: "Extra repository to checkout as daemon"
        type: string
        default: ""
      daemon-repository-branch:
        description: "Branch of the daemon repository to checkout"
        type: string
        default: ""
      install-dependencies:
        description: "Command to install dependencies"
        type: string
        default: ""
      enable-redis:
        description: "Enable Redis service"
        type: boolean
        default: false
      enable-postgres:
        description: "Enable PostgreSQL service"
        type: boolean
        default: false
    secrets:
      CODECOV_TOKEN:
        required: true

jobs:
  run:
    runs-on: ubuntu-latest

    services:
      redis:
        image: ${{ inputs.enable-redis && 'redis:alpine' || '' }}
        ports:
          - 6379:6379

      postgres:
        image: ${{ inputs.enable-postgres && 'postgres:18-alpine' || '' }}
        env:
          POSTGRES_DB: bitcart_test
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432

    env:
      TEST_ARGS: "-o junit_family=legacy --junitxml test-results/junit.xml --cov-report html:coverage"

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up Python
        uses: bitcart/bitcart-actions/actions/setup-python@master

      - name: Install daemon
        uses: bitcart/bitcart-actions/actions/install-daemon@master
        with:
          daemon-repository: ${{ inputs.daemon-repository }}
          daemon-repository-branch: ${{ inputs.daemon-repository-branch }}
          daemon-dir: ${{ inputs.daemon-dir }}
          install-dependencies: ${{ inputs.install-dependencies }}

      - name: Install regtest utils
        run: |
          sudo add-apt-repository -y ppa:luke-jr/bitcoincore
          sudo apt update
          sudo apt install -y bitcoind screen

      - name: Install Fulcrum
        uses: bitcart/bitcart-actions/actions/install-fulcrum@master

      - name: Start bitcoind
        uses: bitcart/bitcart-actions/actions/run-in-background@master
        with:
          run: just bitcoind
          key: bitcoind

      - name: Start Fulcrum
        uses: bitcart/bitcart-actions/actions/run-in-background@master
        with:
          run: sleep 10 && just fulcrum
          key: fulcrum

      - name: Start regtest daemon
        uses: bitcart/bitcart-actions/actions/run-in-background@master
        with:
          run: |
            sleep 10
            cd ${{ inputs.daemon-dir }}
            just regtest
          key: regtest

      - name: Start regtest LN daemon
        uses: bitcart/bitcart-actions/actions/run-in-background@master
        with:
          run: |
            sleep 10
            cd ${{ inputs.daemon-dir }}
            just regtestln
          key: regtestln

      - name: Run functional tests
        run: |
          sleep 15
          ${{ inputs.tests-target }}

      - name: Upload coverage to Codecov
        uses: bitcart/bitcart-actions/actions/codecov@master
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: Functional Tests - Python ${{ env.PYTHON }}
          flags: functional-tests
          env_vars: PYTHON
          upload_coverage: ${{ job.status == 'success' }}

      - name: Upload test results
        uses: bitcart/bitcart-actions/actions/upload-test-results@master
        if: ${{ !cancelled() }}
        with:
          suffix: functional
