name: Lint

on:
  workflow_call:
    inputs:
      install-dependencies:
        description: "Command to install project dependencies"
        type: string
        default: ""
      extra-checks:
        description: "Extra checks to run before prek"
        type: string
        default: ""
      cache-run-data:
        description: "Cache prek repositories and data"
        type: boolean
        default: true

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: bitcart/bitcart-actions/actions/setup-python@master

      - name: Install dependencies
        if: inputs.install-dependencies != ''
        run: ${{ inputs.install-dependencies }}

      - name: Extra checks
        if: inputs.extra-checks != ''
        run: ${{ inputs.extra-checks }}

      - name: Cache prek repos
        if: inputs.cache-run-data
        uses: actions/cache@v5
        with:
          path: ~/.cache/prek
          key: v1-lint-${{ github.ref_name }}-prek-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            v1-lint-${{ github.ref_name }}-prek-

      - name: Run prek checks
        run: prek run --all-files --show-diff-on-failure
