name: Zizmor Audit

on:
  workflow_call:
    inputs:
      paths:
        description: "The paths to run the audit on"
        required: false
        type: string
        default: "."
      advanced-security:
        description: "Whether to enable advanced security features (github only)"
        required: false
        type: boolean
        default: true

permissions: {}

jobs:
  run:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run zizmor
        uses: zizmorcore/zizmor-action@v0.5.0
        with:
          inputs: ${{ inputs.paths }}
          advanced-security: ${{ inputs.advanced-security }}
